<config>
    <modules>
        <test_Catalog>
            <version>1.0.0.0.0</version>
        </test_Catalog>
    </modules>
    <blocks>
        <catalog>
            <rewrite>
                <product_view_media>test_Catalog_Block_Product_View_Media</product_view_media>
            </rewrite>
        </catalog>

    </blocks>

</config>
